.presentation-body{
    padding-bottom:12px;
    padding-top:36px;
}
.title-text{
    text-align: left;
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9D9D9D;
}
.none-text{
    text-align: left;
}
.presentation-file{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9D9D9D;
}
.presentation-div{
    margin-left:15px;
}