.title-bar{
    text-align: start;
    font-size:24px;
    font-family: 'Prompt';
font-style: normal;
font-weight: 400;
}
.progress-title{
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}